<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->

<ion-view title="{{ repeater.call }} - {{ repeater.location }}">
  <ion-content has-header="true" padding="true">
    <h2>{{ repeater.call }} Details</h2>
    <h3>Frequency: {{repeater.freq_in }} ({{repeater.offset}})</h3>
    <p>Location: {{ repeater.county }}, {{ repeater.location }}</p>
    





    <p><a class="button button-small icon ion-arrow-left-b" href="#/tab/repeaters"> All repeaters</a></p>
  </ion-content>
</ion-view>
